body{
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

.header{
    display: flex;
    padding: 20px 15%;
    justify-content: space-between;
    background-color: #1F2937;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header ul a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    height: 60vh;
    background-color: #1F2937;
    /* padding: 50px; */
}

.hero-text{
    max-width: 450px;
    max-height: 250px;
}
.hero-text h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.hero-text p{
    margin: 0.33em 0 0.67em;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-img{
    max-height: 250px;
    max-width: 400px    ;
}
.hero-img img{
    max-height: 100%;
    max-width: 100%;
}

.hero-text button{
    border-radius: 8px;
    padding: 8px 28px;
    background-color: #3882F6;
    font-weight: 800;
    border: none;
    color: white;
    font-size: 18px;
}

.random-info{
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 15px;
}

.random-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    margin-top: 20px;
}

.random-text{
    color: #706e6e;
    font-size: 18px;
}

.random-items{
    max-width: 250px;
}

.random-items img{
    max-height: 100%;
    max-width: 100%;
}

.inspiration{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.inspiration-text{
    font: 36px light italic;
    color: #1F2937;
    text-align: center;
}

.inspiration-text p{
    font-weight: 800;
    text-align: right;
    font-size: 22px;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color:#E5E7EB;
}

.signup-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #3882F6;
    border-radius: 8px;
    width: 70%;
    height: 40%;
    gap: 8px;
}

.signup-banner h3{
    margin: 0;
    color: #F9FAF8;
    font-size: 24px;
}

.signup-banner button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 8px;
    padding: 6px 28px;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
}